* {
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

body p {
    font-weight: 300;
}

body {
    background-image: url(Assets/homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-div {
    border: 2px solid;
    border-radius: 30px;
    /* Black border radius */
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    /* Add spacing between divs */
    height: 250px;
    background: linear-gradient(-45deg, rgba(116, 70, 172, 0.5), rgba(0, 0, 0, 0.5), rgba(37, 85, 131, 0.6));
    ;
}

.center-div {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    /* Adjust the maximum width as needed */
    border-radius: 10px;
    /* Border radius for the div */
    color: white;
}

.custom-div h1 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.custom-div p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

}

.custom-div img {
    margin-right: 500px;
    margin-bottom: 15px;
}

.scroll-div {
    border: 2px solid;
    width: 95%;
    margin-left: 30px;
    background: linear-gradient(90deg, rgba(186, 99, 255, 0) -1.46%, #BA63FF 52.76%, rgba(186, 99, 255, 0) 100%);
}

.scroll-div p {
    font-family: Lato;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 5em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-left: 200px;
    margin-top: 20px;

}

.ordinary-div {
    box-shadow: 0px 0px 16px 0px rgba(251, 193, 8, 0.4);
    background: radial-gradient(56.21% 280.39% at 3.5% 6.21%, rgba(63, 35, 155, 0.6) 0%, rgba(63, 35, 155, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        ,
        radial-gradient(61.24% 211.63% at 97.45% 96.67%, rgba(166, 30, 169, 0.5) 0%, rgba(0, 0, 0, 0) 94.69%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    height: 400px;
}

.ordinary-div p {
    font: Poppins;
    font-size: 24px;
}

.ordinary-div h1 {
    font-family: Poppins;
    margin-top: 50px;
    font-size: 30px;
}

/* Custom styling for circle images */
.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    /* Adjust the height as needed */
}

.circle-image {
    width: 100px;
    /* Adjust the size of the circle images */
    height: 100px;
    /* Adjust the size of the circle images */
    background-color: #007bff;
    /* Circle background color */
    border-radius: 50%;
    /* Circle shape */
    margin: 10px 0;
    /* Adjust the margin between circle images */
}

.target-div {
    box-shadow: 0px 0px 16px 0px rgba(251, 193, 8, 0.4);
    background: linear-gradient(180deg, rgba(63, 35, 155, 0.7) 0%, rgba(63, 35, 155, 0.3) 100%);
    height: 500px;
    width: 70%;

}

.target-div p {
    font: Poppins;
    font-size: 30px;
    margin-top: 30px;
}

.brand-logo {
    border: 2px solid;
    height: 200px;
    margin: 2%;
    object-fit: contain;
    width: 95%;
    margin-left: 30px;
}

.profile {
    height: 150px;
    width: 150px;
    margin-left: 33%;
    margin-top: 7%;
}

.inner-div {
    border: 2px solid;
    border-radius: 30px;
    /* Black border radius */
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    /* Add spacing between divs */
    height: 400px;
    background: linear-gradient(-45deg, rgba(116, 70, 172, 0.5), rgba(0, 0, 0, 0.5), rgba(37, 85, 131, 0.6));
}


.question-div {
    height: 400px;
}

.question-div h1{
    font-size: 23px;
    text-align: center;
    font-family: Poppins;
}
