* {
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

body p {
    font-weight: 300;
}

body {
    background-image: url(Assets/homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


