*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
html{
    scroll-behavior: smooth;
    /* overflow: hidden; */
}

body p{
    font-weight: 300;
}

body{
    background-image: url('Assets/newhome.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px 20px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    font-family: 'teko';
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}
.line-11, .line-22{
    text-align: center;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 1rem;
    display: flex;
    border: 2px solid white;
    border-radius: 3rem;
}

.nav-links li {
    /* margin: 0 15px; */
    border-radius: 1.5rem;
    padding: 0.3rem 0.7rem;
}


.nav-links a {
    color: #fff;
    text-decoration: none;
    font-family: 'teko';
    font-size: 20px;
    padding: 0.3rem 0.6rem;
    transition: 0.5s linear;
    border-radius: 1.5rem;
}
.nav-links a:hover{
    background-color: #FBC108;
    color: black;
    border-radius: 1.5rem; 
    transition: 1s;
    
}
.phone-container i{
    font-size: 50px;
    color: #FBC108;
}
.phone-container i:hover{
    transition: 0.8s;
    transform: rotate(360deg);
}
header::before {
    content: "";
    display: block;
    background-image: url('Assets/background-star.png');
    background-size: cover; 
    width: 100%;
    height: 700px; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}
/* Hamburger menu styles for mobile */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.btn-lg{
    border-radius: 2rem !important;
    background-color: #FBC108 !important;
    color: black !important;
}
.header-section{
    padding-top: 4rem;
}
.heading-class{
    padding: 0rem 4rem;
}
.heading-class-1{
    padding: 4rem 4rem 4rem 6rem;
}
.main-heading-txt{
    font-family: 'poppins';
    font-size: 1.5rem;
    color: white;
}
.main-heading-txt-1{
    font-family: 'poppins';
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin-bottom: 4rem;
    text-align: left;
}
.btn-lg2{
    border-radius: 2rem !important;
    background-color: #FBC108 !important;
    color: black !important;
    box-shadow: 0px 0px 8px #FBC108 !important;
}
.btn-lg2:hover{
    background-color: transparent !important;
    border: 2px solid #FBC108 !important;
    color: white !important;
    transition: 0.5s !important;
}
.after-header ul{
    display: flex;
    color: white;
    justify-content: center;
}
.after-header ul li{
    list-style: none;
    padding: 0rem 3rem;
}
.main-heading-txt-2{
    font-family: 'poppins';
    color: white;
    margin-bottom: 4rem;
    text-align: center;
}
.div-s-row{
    color: white;
}
.div-s-row > .col-md-4{
    text-align: center;
}
.shopify-class{
    /* background: linear-gradient(-45deg, rgba(116,70,172,0.5), rgba(0,0,0, 0.5), rgba(37,85,131,0.6)); */
    padding: 1rem 2rem; 
    filter: drop-shadow(4px 4px 8px #000000);
    width: 30%;
    margin: 1rem;
    background: linear-gradient(-40deg, rgba(137,26,109,0.7), rgba(0,0,0, 0.5), rgba(46,4,167,0.7)) padding-box,
              linear-gradient(45deg, rgba(137,26,109,0.9), rgba(0,0,0, 0.5), rgba(46,4,167,0.9)) border-box;
  border: 2px solid transparent;
  border-radius: 20px;
}
.img-s-o-s{
    width: 24%;
    margin: 1rem 0rem;
}
.fa-circle-check{
    margin-right: 1rem;
}
.mentor-row, .curriculum-row, .faq-row, .zero-row{
    text-align: center;
    font-family: 'poppins';
    color: white;
}
.mentor-row h1, .curriculum-row h1, .faq-row h1, .zero-row h1{
    font-weight: bold;
    font-size: 60px;
    opacity: 0.2;   
}
.curriculum-row h3, .zero-row h3{
    font-size: 20px;
}
.mentor-row p{
    font-family: 'poppins';
    font-weight: 400;
}
.tagor-img-cl{
    display: flex;
    padding: 2rem 3rem;
}
.tagor-img{
    border-radius: 50px;
}
.sec-2{
    font-family: 'poppins';
    padding-top: 3rem;
    color: white;
}
.roadmap-class{
    width: 50%;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: transparent !important;
  color: black;
  margin: 1rem 0;
  /* border-radius: 0.5rem; */
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  border-right: none;
}

.accordion-item-header {
    color: white;
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: rgba(0,0,0,0.01);
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  color: white;
  text-align: left;
  /* border-top: 1px solid; */
  /* border-image: linear-gradient(to right, transparent, #34495e, transparent) 1; */
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}
.shopify-class-1{
    /* background: linear-gradient(-45deg, rgba(116,70,172,0.5), rgba(0,0,0, 0.5), rgba(37,85,131,0.6)); */
    padding: 1rem 2rem; 
    filter: drop-shadow(4px 4px 8px #000000);
    margin: 0.5rem;
    background: linear-gradient(-40deg, rgba(137,26,109,0.7), rgba(0,0,0, 0.5), rgba(46,4,167,0.7)) padding-box,
              linear-gradient(45deg, rgba(137,26,109,0.9), rgba(0,0,0, 0.5), rgba(46,4,167,0.9)) border-box;
  border: 2px solid transparent;
  border-radius: 20px;
  text-align: center;
  width: 48%;
}
.shopify-class-1 p{
    font-size: 14px;
    margin-bottom: 0rem;
}
.zero-2-row{
    color: white;
    display: flex;
    justify-content: space-around;
}
.difference h1{
    font-size: 50px;
    color: white;
    font-weight: bold;
    
}
.shopify-class-1 ul{
    text-align: start !important;
    color: white;
}
.shopify-class-1 h4{
    color: white;
    margin: 2rem 0rem;
}
.shopify-class-1 ul li{
    list-style: none;
    font-weight: 100;
    font-size: 14px;
    display: flex;
    margin-bottom: 1rem;
}
.difference-2{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'poppins';
}
.difference-2 p{
    font-weight: 100;
}
/*3d slider*/
.d-review-slider {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
  }
  
  .carousel-3d-class {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    animation: 30s clientsss linear infinite;
  }
  .carousel-3d-class:hover{
    animation-play-state: paused;
  }
  @keyframes clientsss{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg); 
    }
  }
  .item {
    display: block;
    position: absolute;
    background: #000;
    width: 100%;
    height: 150%;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 1;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 0px 10px rgb(255 255 255 / 0.5);;
  }
  
  .a {
    transform: rotateY(0deg) translateZ(250px);
    
  }
  
  .b {
    transform: rotateY(60deg) translateZ(250px);
    
  }
  
  .c {
    transform: rotateY(120deg) translateZ(250px);
    
  }
  
  .d {
    transform: rotateY(180deg) translateZ(250px);
    
  }
  
  .e {
    transform: rotateY(240deg) translateZ(250px);
    
  }
   
  .f {
    transform: rotateY(300deg) translateZ(250px);
    
  }

  
  .circle-txt{
    position: absolute;
    width: 80%;
    left: 40rem;
    top: 26rem;
    opacity: 0.1;
    animation: 8s rotate infinite linear;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#client-down-class img{
    animation: taadaa 2s infinite;
}
@keyframes taadaa {
    0% {
        opacity: 0;
      }
    
      25% {
        opacity: 0.3;
      }
      50%{
        opacity: 0.5;
      }
      75%{
        opacity: 0.7;
      }
      100%{
        opacity: 1;
      }
}
.new-difference{
    text-align: center;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}
.footer-row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.insights{
    display: inline;
    text-align: end;
    color: white;
}
.insights span{
    color: #FBC108;
}
.horizontal-line-footer{
    width: 100%;
    height: 0.2vh;
    background-color: white;
    margin-bottom: 3rem;
}
.quick-links{
    margin-bottom: 3rem;
}
.footer-column-1 ul, .footer-column-2 ul, .footer-column-3 ul, .footer-column-4 ul{
    list-style-type: none;
    color: white;
}
.footer-column-1 ul li i, .footer-column-4 ul li i{
    margin-right: 8px;
}
.copyright-section{
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}
.footer-container{
    margin-top: 8rem;
}
