*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
html{
    scroll-behavior: smooth;
    /* overflow: hidden; */
}
.content-container {
    overflow-x: hidden;
  }
body{
    background-image: url('Assets/newhome.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
body p{
    font-weight: 300;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px 20px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    font-family: 'teko';
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}
.line-11, .line-22{
    text-align: center;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 1rem;
    display: flex;
    border: 2px solid white;
    border-radius: 3rem;
}

.nav-links li {
    /* margin: 0 15px; */
    border-radius: 1.5rem;
    padding: 0.3rem 0.7rem;
}


.nav-links a {
    color: #fff;
    text-decoration: none;
    font-family: 'teko';
    font-size: 20px;
    padding: 0.3rem 0.6rem;
    transition: 0.5s linear;
    border-radius: 1.5rem;
}
.nav-links a:hover{
    background-color: #FBC108;
    color: black;
    border-radius: 1.5rem; 
    transition: 1s;
    
}
.phone-container i{
    font-size: 50px;
    color: #FBC108;
}
.phone-container i:hover{
    transition: 0.8s;
    transform: rotate(360deg);
}
/* Hamburger menu styles for mobile */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}
header::before {
    content: "";
    display: block;
    background-image: url('Assets/background-star.png');
    background-size: cover; 
    width: 100%;
    height: 700px; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}
.pricing-header-inner{
    padding-top: 8rem;
}
.pricing-header-inner h1{
    font-family: 'poppins';
    font-size: 4rem;
    font-weight: 700;
    color: white;
    text-align: left;
}
.pricing-header-inner p{
    font-family: 'poppins';
    font-size: 1.3rem;
    color: white;
}
.btn-lg2{
    border-radius: 2rem !important;
    background-color: #FBC108 !important;
    color: black !important;
    box-shadow: 0px 0px 8px #FBC108 !important;
}
.btn-lg2:hover{
    background-color: transparent !important;
    border: 2px solid #FBC108 !important;
    color: white !important;
    transition: 0.5s !important;
}
.pricing-header{
    display: flex;
    justify-content: center;
}
.lottie-pricing{
    display: flex;
    justify-content: center;
}
.say-hello-class{
    text-align: center;
    color: white;
    font-family: 'poppins';
    /* position: relative; */
}

/* .say-hello-class h1::before{
    content: 'WHAT YOU GET';
    display: block;
    position: absolute;
    left: 150px;
    top: 0px;
    z-index: -1;
    font-size: 8rem;
    font-weight: bold;
    opacity: 0.05; 
} */
.say-hello-inner-1{
    color: white;
    font-family: 'poppins';
}
.say-hello-row{
    display: flex;
    align-items: center;
    padding-top: 4rem;
}


.pricing-container{
    text-align: center;
    font-family: 'poppins';
  }
  
  .pricing-container .box-container{
    max-width: 1200px;
    margin:0 auto;
    padding:20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:20px;
  }
  
  .pricing-container .box-container .box{
    background-image: linear-gradient(to top, #1E0E34, #2F1584);
    border-radius: 30px;
    border: 2px dashed white;
    padding: 2rem;
  }
  
  .pricing-container .box-container .box .price{
    color:#fff;
    background: transparent;
    font-weight: bolder;
    font-size: 50px;
  }
  
  .pricing-container .box-container .box .price.year{
    display: none;
  }
  
  .pricing-container .price-toggler{
    margin-top: 20px;
    display: inline-block;
    padding:5px;
    border:2px solid white;
    background: transparent;
    border-radius: 30px;
  }
  
  .pricing-container .price-toggler span{
    padding:7px 30px;
    cursor: pointer;
    color:white;
    font-size: 20px;
    display: inline-block;
  }
  
  .pricing-container .price-toggler span.active{
    background: #FBC108;
    color:black;
    border-radius: 30px;
  }
  .box p{
    color: white;
  }
  .social-handles button{
    height: 8vh !important;
    background-color: transparent;
    padding: 0rem 1rem;
    border-radius: 50px;
    color: white;
    border: 1px solid white;
    margin: 1rem;
  }
  .social-handles button img{
    width: 24%;
  }
  .social-handles{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  .our-videos-class{
    text-align: center;
    color: white;
    font-family: 'poppins';
    /* position: relative;  */
}
/* .our-videos-class h1::before{
    content: 'OUR VIDEOS';
    display: block;
    position: absolute;
    left: 250px;
    top: 0px;
    z-index: -1;
    font-size: 8rem;
    font-weight: bold;
    opacity: 0.05; 
} */

 .carousel-container {
    /* width: 300px; */
    overflow: hidden;
    position: relative;
}

.carousells {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-item-1 {
    flex: 0 0 300px;
    height: 200px;
}

.carousel-item-1 video{
    object-fit: cover;
}

/* .slider {
    margin-bottom: 30px;
    position: relative;
  }
  .slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    background: #ff9966; 
    background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966);
    background: linear-gradient(to bottom, #ff5e62, #ff9966);
    color: #fff;
  }
  .slider-card {
    background: #fff;
    padding: 0px 0px;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
  }
  .slider-card img {
    border-radius: 5px 5px 0px 0px;
  }
  .owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  .owl-dots {
    text-align: center;
  }
  .owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
  }
  .owl-dots .owl-dot.active {
    background: #f44336 !important; 
  }*/

  /*dashboard*/
  .inner-process-row-2{
    color: white;
    text-align: center;
    font-family: 'poppins';
    margin: inherit;
  }
  /*client bites carousel*/
  .d-review-slider {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
  }
  .carousel-3d-class {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    animation: 30s clientsss linear infinite;
  }
  @keyframes clientsss{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg); 
    }
  }
  .carousel-3d-class:hover{
    animation-play-state: paused;
  }

.item {
    display: block;
    position: absolute;
    background: #000;
    width: 100%;
    height: 150%;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 1;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 0px 10px rgb(255 255 255 / 0.5);;
  }
  
  .a {
    transform: rotateY(0deg) translateZ(250px);
    
  }
  
  .b {
    transform: rotateY(60deg) translateZ(250px);
    
  }
  
  .c {
    transform: rotateY(120deg) translateZ(250px);
    
  }
  
  .d {
    transform: rotateY(180deg) translateZ(250px);
    
  }
  
  .e {
    transform: rotateY(240deg) translateZ(250px);
    
  }
   
  .f {
    transform: rotateY(300deg) translateZ(250px);
    
  }
#client-down-class img{
    width: 70%;
    animation: taadaa 2s infinite;
}
@keyframes taadaa {
    0% {
        opacity: 0;
      }
    
      25% {
        opacity: 0.3;
      }
      50%{
        opacity: 0.5;
      }
      75%{
        opacity: 0.7;
      }
      100%{
        opacity: 1;
      }
}
/*our videos*/


/*aCCORDIAN*/
h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
  }
  
  .accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  
  .accordion-item {
    background-color: transparent !important;
    color: black;
    margin: 1rem 0;
    /* border-radius: 0.5rem; */
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: none;
    border-right: none;
  }
  
  .accordion-item-header {
      color: white;
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: rgba(0,0,0,0.01);
  }
  
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  
  .accordion-item-header.active::after {
    content: "\2212";
  }
  
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    color: white;
    text-align: left;
    /* border-top: 1px solid; */
    /* border-image: linear-gradient(to right, transparent, #34495e, transparent) 1; */
  }

  /*FOOTER*/
  .novice-cont{
    color: white;
    font-family: 'Poppins';
    background-color: #FBC108;
    border-radius: 20px;
    padding: 2rem 3rem;
    margin-top: 8rem;
}
label{
    position: relative;
}

.footer-row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.footer-input-cl{
    width: 100% !important;
}
.insights{
    display: inline;
    text-align: end;
    color: white;
}
.insights span{
    color: #FBC108;
}
.horizontal-line-footer{
    width: 100%;
    height: 0.2vh;
    background-color: white;
    margin-bottom: 3rem;
}
.quick-links{
    margin-bottom: 3rem;
}
.footer-column-1 ul, .footer-column-2 ul, .footer-column-3 ul, .footer-column-4 ul{
    list-style-type: none;
    color: white;
}
.footer-column-1 ul li i, .footer-column-4 ul li i{
    margin-right: 8px;
}
.copyright-section{
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}
.footer-container{
    margin-top: 8rem;
}