*{
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
}
body p{
    font-weight: 300;
}

body{
    background-image: url(Assets/homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar>.container{
    display: flex !important;
    justify-content: space-around !important;
}

.nvbr-row{
    display: flex;
    align-items: center;
}
.nav-itemss{
    display: flex;
    /* padding-left: 5rem; */
    padding-left: 0rem !important;
}
.nav-itemss ul {
    display: flex;
    justify-content: space-around;
}

.nav-itemss li{
    color: white;
    list-style-type: none;
    /* margin-right: 5rem; */
}
.nav-itemss li .bar-link{
    text-decoration: none;
    font-family: 'teko';
    padding: 0rem 2rem 0rem 2rem;
    color: white;
    transition: 0.5s !important;
}
.nav-itemss li .bar-link:hover{
    border-radius: 2rem !important;
    background-color: #FBC108 !important;
    color: black !important;
    padding: 0.3rem 1rem !important;
    transition: 0.5s !important; 
}
.first-horizontal-line, .second-horizontal-line{
    text-align: center;
}
.nav-linksss>.nav-itemss{
    display: flex !important;
    justify-content: space-around !important;
    margin-bottom: 0rem !important;
}
.nav-linksss{
    border: 1px solid white;
    padding: 1rem;
    border-radius: 3rem;
}
.btn-lg{
    border-radius: 2rem !important;
    background-color: #FBC108 !important;
    color: black !important;
}
.main-heading-txt{
    font-family: 'poppins';
    font-size: 4rem;
    font-weight: 700;
    color: white;
}
.paragraph-txt{
    font-family: 'poppins';
    color: white;
    font-weight: 100;
    font-size: 1.16rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.main-header-section>.header-section>.heading-class::before{
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: .7;
}
.header-section{
    padding-top: 4rem;
}
.anime-lottie{
    display: flex;
    justify-content: flex-start;
}
.btn-lg2{
    border-radius: 2rem !important;
    background-color: #FBC108 !important;
    color: black !important;
    box-shadow: 0px 0px 8px #FBC108 !important;
}
.btn-lg2:hover{
    background-color: transparent !important;
    border: 2px solid #FBC108 !important;
    color: white !important;
    transition: 0.5s !important;
}
.main-header-section::before{
    content: "";
    background-image: url("Assets/stars.png");
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.4;
}
/* .down-arrow{
    margin-top: 3%;
    /* display: block;
    position: absolute;
} */
.down-arrow-2{
    
    position: absolute;
   
    text-align: center;
    
    /* margin-left: 45rem; */
}

.arrow-class{
    
    animation: jumpInfinite 3s infinite;
}

@keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }

.social-media-icons{
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 2rem 0rem 1rem 0rem;

}

@keyframes slidesss {
from {
    transform: translateX(0);
}
to {
    transform: translateX(-100%);
}

}
@keyframes slidess {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
    
    }
.employees-images{
    overflow: hidden;
    padding: 10px 0px;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.logos, .logos-1{
    overflow: hidden;
    white-space: nowrap;
    padding: 20px 0px;
    scroll-behavior: smooth;
}
.logos{
    margin-top: 4rem;
}
.logos-slide{
    display: inline-block;
    animation: 30s slidesss infinite linear;
}
.logos-slide-1{
    display: inline-block;
    animation: 30s slidess infinite linear;
}
.logos-slide img{
    height: 80px;
    margin: 0 40px;
}
.logos-slide-1 img{
    height: 80px;
    margin: 0 40px;
}
.logos:hover .logos-slide{
    animation-play-state: paused;
}
.logos-1:hover .logos-slide-1{
    animation-play-state: paused;
}

.employees-slide-images{
    display: inline-block;
    animation: 16s slide infinite linear;
    scroll-behavior: smooth;
}
.employees-slide-images-2{
    display: inline-block;
    animation: 16s slidess infinite linear;
    scroll-behavior: smooth;
}
.main-employees-images{
    margin: 0 40px;

}
@keyframes slide{
    from{
        transform: translateX(0) ;
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes slidess{
    from{
        transform: translateX(-100%) ;
    }
    to{
        transform: translateX(0);
    }
}
 /* .racesWrapper {
	overflow:hidden;
}

.races {
	width:fit-content;
	display:flex;

	 flex-wrap:nowrap;     
    
}


.space-20vh {
	height:20vh;
}

.space-30vh {
	height:30vh;
}

.space-50vh {
	height:30vh;
}

.space-100vh {
	height:50vh;
}
.races-images{
    margin: 0rem 1rem; 
    padding: 0rem 2rem;
    width: 100%;  
} */

/* .third-main-section{
    width: 100%;
    height: 100vh;
    margin-top: 5rem;
}


.line-1{
    position: fixed;
    top: 1%;
    /* left: -50px; */
    /* white-space: nowrap;
    color: white;
}
.line-2{
    position: fixed;
    top: 2%;
    /* right: -50px; */
    /* white-space: nowrap;
    color: white;
} */


/*Scroll trigger main css*/
 /* .main-slider-div{
    height: 70vh;
    overflow: hidden;
}
 .line-1{
    position: fixed;
    top: 30%;
    
    white-space: nowrap;
    color: white;
}
 .line-2{
    position: fixed;
    top: 35%;
    
    white-space: nowrap;
    color: white;
}  */


.employees-div{
    background-image: linear-gradient(#3F239B,#1D0279);
    padding: 3rem 2rem;
    border-radius: 20px;
 
}

.employees-div, .inner-txt-div{
    font-family: 'poppins';
    color: white;
}
.individual-employee{
    width: 12rem; 
    height: 12rem;
    border-radius: 50%; 
    border: 3px solid white;
    text-align: center; 
    padding-top: 12px;
    margin-left: 2rem;
    transform: rotateY(0deg) rotate(45deg);
    transition: transform 0.8s;
}
.individual-employee:hover{
    transform:  rotateY(360deg);
   
}
.individual{
    width: 10rem; 
    height: 10rem; 
    background-color: transparent;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(-45deg);
}
.profile-image{
    width:100%;
    height:100%;
    object-fit: cover;
}
.services-row, .process-row{
    font-family: 'poppins';
    color: white;
    font-weight: bold;
    text-align: center;
}
.view-all-btn{
    text-align: end;
}
.services-container{
    color: white;
    padding-top: 10rem;
}
.shopify-icon-1{
    position: absolute;
    z-index: -1;
    width: 18%;
}
.shopify-icon-2{
    position: relative;
    z-index: 1;
    margin-left: 2rem;
}
.shopify-class{
    background: linear-gradient(-45deg, rgba(116,70,172,0.2), rgba(0,0,0, 0.2), rgba(37,85,131,0.2));
    padding: 1rem 2rem;
    border-radius: 1rem;
    filter: drop-shadow(4px 4px 8px #000000);
    border: 1px solid rgba(250,250,250, 0.1);
    width: 49%;
    margin-bottom: 2rem;
    transition: 0.5s ease-in-out;
}
.shopify-class:hover{
    .shopify-icon>.shopify-icon-2{
        margin-left: 0rem;
        transition: 0.5s ease-in-out;
    }
}
.experience {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100vh;
    z-index: 2;
  }
  
  .scrollTarget {
    position: absolute;
    height: 1000vh;
    width: 100px;
    top: 0;
    z-index: 0;
  }
  
  .vignette-radial {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
  }
  
  .vignette-radial:after {
    pointer-events: none;
    content: ' ';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: radial-gradient(circle, transparent 60%, black 150%);
  }
.box{
    position: relative;
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 50s linear infinite;
} 
@keyframes animate
{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);

}
.box span a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    border: 1PX solid white;
    box-shadow: 0px 0px 10px #0073FF;
}
.box span a img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    border: 1PX solid white;
}
.box span a img::after{
    content: "\f144";
    position: relative;
    color: white;
}
.carouselclass {
    position: relative;
    z-index: 11;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
  }
  .box:hover .innervideos{
    animation-play-state: paused;
  }
.carouselclass::before{
    content: ' ';
   
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: url(Assets/client-back.png);
    z-index: 8;
}


.delayed-section {
    position: absolute;
    /* width: 30vw;
    height: 38.87vw; */
    transform: rotate(-8deg);
  }
  .delayed-section .inner-container {
    will-change: transform;
  }
  .delayed-section img {
    max-width: 20%;
    will-change: transform;
  }
.txt-img-class{
    max-width: 37% !important;
    will-change: transform;
}
/* .txt-img-class-1{
    max-width: 18% !important;
    will-change: transform;
} */
  
  #del1 {
    /* top: 101vh; */
    left: 12vw;
  }
  #del2 {
    /* top: 110vh; */
    left: 31.5vw;
  }
  #del3 {
    /* top: 120vh; */
    left: -10vw;
  }
  #del4 {
    /* top: 101vh; */
    left: 48vw;
  }
  #del5 {
    /* top: 110vh; */
    left: 64vw;
  }
  #del6 {
    /* top: 120vh; */
    left: 80vw;
  }
  #del7 {
    /* top: 120vh; */
    left: 96vw;
  }
  .dashboard_video{
    border: 14px solid #FBC108;
    border-radius: 20px;
  }
  .vectors-section{
    color: white;
    font-family: 'poppins';
    padding-top: 8rem;
  }
  .become-client-row{
    /* background-image: linear-gradient(to right#281273, #18084E); */
    background-image: linear-gradient(to right, #281273 , #190723);
    padding: 2rem 1rem;
    border-radius: 20px;
    color: white;
    font-family: 'poppins';
    display: flex;
    align-items: center;
  }
  .become-client-row ul li{
    list-style-type: none;
    margin-bottom: 10px;
  }
  .become-client-row ul li i{
    padding-right: 10px;
  }
  img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
#client-down-class img{
    animation: taadaa 2s infinite;
}
@keyframes taadaa {
    0% {
        opacity: 0;
      }
    
      25% {
        opacity: 0.3;
      }
      50%{
        opacity: 0.5;
      }
      75%{
        opacity: 0.7;
      }
      100%{
        opacity: 1;
      }
}

  