*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#preloader{
    background: #000 url(Assets/loader.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.disppear{
    animation: vanish 0.8s forwards;
}
@keyframes vanish {
    100%{
        opacity: 0;
        visibility: hidden;
    }

}
body{
    background-color: black;
    overflow-x: hidden;
    /* background-image: url('Assets/newhome.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;   */
}
/* body {
    background-image: url('Assets/homepage.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    overflow-x: hidden; 
    background-size: 100%;
  } */
body p{
    font-weight: 300;
}
.navbar{
    background-color: transparent !important;
    padding: 20px 20px !important;
}
.menu{
    border: 2px solid white;
    padding: 1rem 1rem;
    border-radius: 3rem;
    margin: 0 !important;
    font-family: 'Teko';
}
.menu li{
    margin: 0px 10px !important;
    background-color: #FBC108;
    border-radius: 20px !important;
    height: 30px;
    padding: 3px;
}
.menu li:hover{
    background-color: #FBC108 !important;
    color: black !important;
    transition: 1s;

}
.menu li a{
    padding: 20px !important;
    text-decoration: none;
}
.menu li a:hover{
    color: black;
    text-decoration: none;
}
.line-11, .line-22{
    width: 20%;
}

.btn-lg{
    border-radius: 2rem !important;
    background-color: #FBC108 !important;
    color: black !important;
}
.main-heading-txt{
    font-family: 'poppins';
    font-size: 4rem;
    font-weight: 700;
    color: white;
}

.paragraph-txt{
    font-family: 'poppins';
    color: white;
    font-weight: 100;
    font-size: 1.16rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.main-header-section>.header-section>.heading-class::before{
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: .7;
}
.header-section{
    padding-top: 4rem;
}
.anime-lottie{
    display: flex;
    justify-content: center;
    padding-left: 4rem;
}
.btn-lg2{
    border-radius: 2rem !important;
    background-color: #FBC108 !important;
    color: black !important;
    box-shadow: 0px 0px 8px #FBC108 !important;
}
.btn-lg2:hover{
    background-color: transparent !important;
    border: 2px solid #FBC108 !important;
    color: white !important;
    transition: 0.5s !important;
}
/* .main-header-section::before{
    content: "";
    background-image: url("Assets/stars.png");
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.3;
} */

.social-media-icons{
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 2rem 0rem 1rem 0rem;
}
@keyframes slidesss {
from {
    transform: translateX(0);
}
to {
    transform: translateX(-100%);
}
}
@keyframes slidess {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }   
    }
.employees-images{
    overflow: hidden;
    padding: 10px 0px;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.logos, .logos-1{
    overflow: hidden;
    white-space: nowrap;
    padding: 20px 0px;
    scroll-behavior: smooth;
}
.logos{
    margin-top: 4rem;
}
.logos-slide{
    display: inline-block;
    animation: 30s slidesss infinite linear;
}
.logos-slide-1{
    display: inline-block;
    animation: 18s slidess infinite linear;
}
.logos-slide img{
    height: 50px;
    margin: 0 40px;
}
.logos-slide-1 img{
    height: 50px;
    margin: 0 40px;
}
.logos:hover .logos-slide{
    animation-play-state: paused;
}
.logos-1:hover .logos-slide-1{
    animation-play-state: paused;
}
.employees-slide-images{
    display: inline-block;
    animation: 16s slide infinite linear;
    scroll-behavior: smooth;
}
.employees-slide-images-2{
    display: inline-block;
    animation: 16s slidess infinite linear;
    scroll-behavior: smooth;
}
.main-employees-images{
    margin: 0 40px;
}
@keyframes slide{
    from{
        transform: translateX(0) ;
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes slidess{
    from{
        transform: translateX(-100%) ;
    }
    to{
        transform: translateX(0);
    }
}
.employees-div{
    background-image: linear-gradient(#3F239B,#1D0279);
    padding: 3rem 2rem;
    border-radius: 20px;
    font-family: 'poppins';
    color: white;
}
.inner-txt-div{
    font-family: 'poppins';
    color: white;
}
.individual-employee{
    width: 12rem; 
    height: 12rem;
    border-radius: 50%; 
    border: 3px solid white;
    text-align: center; 
    padding-top: 12px;
    margin-left: 2rem;
    transform: rotateY(0deg) rotate(45deg);
    transition: transform 0.8s;
}
.individual-employee:hover{
    transform:  rotateY(240deg);  
}
.individual{
    width: 10rem; 
    height: 10rem; 
    background-color: transparent;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(-45deg);
}
.profile-image{
    width:100%;
    height:100%;
    object-fit: cover;
}
.services-row, .process-row, .process-row-1, .process-row-2{
    font-family: 'poppins';
    color: white;
    font-weight: bold;
    text-align: center;
}
.services-row{
    position: relative;
    margin-bottom: 5rem;
    margin-top: 5rem;
    scale: 1.6;
    opacity: 0.3;
}
.main-shopify-di{
    display: flex;
    /* justify-content: space-between; */
}
.services-row::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background: white;
    left: 380px;
    top: 40%;
}
.services-row::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background: white;
    left: 820px;
    top: 40%;
}
.process-row{
    position: relative;
    margin-bottom: 4rem;
    margin-top: 5rem;
    scale: 1.6;
    opacity: 0.3;
}
.inner-our-process-2, .inner-process-row-2{
    color: white;
    text-align: center;
    font-family: 'poppins';
    margin: inherit;
}
.process-row::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background: white;
    left: 380px;
    top: 40%;
}
.process-row::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background: white;
    left: 820px;
    top: 40%;
}
.process-row-1{
    position: relative;
    margin-bottom: 5rem;
    margin-top: 5rem;
    scale: 1.6;
    opacity: 0.3;
}
.inner-dashboard{
    margin-bottom: 3rem;
}
.process-row-1::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background: white;
    left: 350px;
    top: 20%;
}
.process-row-1::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background: white;
    left: 850px;
    top: 20%;
}
.process-row-2{
    position: relative;
    margin-bottom: 8rem;
    scale: 1.6;
    opacity: 0.3;
}
.process-row-2::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background: white;
    left: 320px;
    top: 40%;
}
.process-row-2::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background: white;
    left: 880px;
    top: 40%;
}
.view-all-btn{
    text-align: end;
}
.services-container{
    color: white;
    padding-top: 10rem;
}
.shopify-icon-1{
    position: absolute;
    z-index: -1;
    width: 18%;
}
.shopify-icon-2{
    position: relative;
    z-index: 1;
    margin-left: 2rem;
}
.shopify-class{
    background: linear-gradient(-45deg, rgba(116,70,172,0.5), rgba(0,0,0, 0.5), rgba(37,85,131,0.6));
    padding: 1rem 2rem;
    border-radius: 1rem;
    filter: drop-shadow(4px 4px 8px #000000);
    border: 1px solid rgba(250,250,250, 0.1);
    width: 49%;
    margin-bottom: 2rem;
    transition: 0.5s ease-in-out;
}
.shopify-class:hover{
    .shopify-icon>.shopify-icon-2{
        margin-left: 0rem;
        transition: 0.5s ease-in-out;
    }
}
.experience {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100vh;
    z-index: 2;
  }
  
  .scrollTarget {
    position: absolute;
    height: 1000vh;
    width: 100px;
    top: 0;
    z-index: 0;
  }
  
  .vignette-radial {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
  }
  
  .vignette-radial:after {
    pointer-events: none;
    content: ' ';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: radial-gradient(circle, transparent 60%, black 150%);
  }
.box{
    position: relative;
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 50s linear infinite;
} 
@keyframes animate
{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.box > .innervideos{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);

}
.box span a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    border: 1PX solid white;
    box-shadow: 0px 0px 10px #0073FF;
}
.box span a img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    border: 1PX solid white;
}
.box span a img::after{
    content: "\f144";
    position: relative;
    color: white;
}
.carouselclass {
    position: relative;
    z-index: 11;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
  }
  .box:hover .innervideos{
    animation-play-state: paused;
  }
/* .carouselclass::before{
    content: ' ';
   
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: url(Assets/client-back.png);
    z-index: 8;
} */
.delayed-section {
    position: absolute;
    /* width: 30vw;
    height: 38.87vw; */
    transform: rotate(-8deg);
  }
  .delayed-section .inner-container {
    will-change: transform;
  }
  .delayed-section img {
    max-width: 20%;
    max-height: 300vh;
    will-change: transform;
  }
.txt-img-class-one{
    max-width: 24% !important;
    will-change: transform;
}
.txt-img-class{
    max-width: 46% !important;
    will-change: transform;
}
.txt-img-class-1{
    max-width: 20% !important;
    will-change: transform;
}
.txt-img-class-2{
    max-width: 16% !important;
    will-change: transform;
}
.txt-img-class-3{
    max-width: 16% !important;
    will-change: transform;
} 
  #del1 {
    left: 0vw;
  }
  #del2 {
    left: 29vw;
  }
  #del3 {
    left: -6vw;  
  }
  #del4 {
    left: 48vw;
  }
  #del5 {
    left: 80vw;
  }
  #del6 {
    left: 88vw;
  }
  #del7 {
    left: 96vw;
  }
  .dashboard_video{
    border: 14px solid #FBC108;
    border-radius: 20px;
  }
  .vectors-section{
    color: white;
    font-family: 'poppins';
    padding-top: 8rem;
  }
  .sound-bites{
    padding-top: 12rem;
  }
  .become-client-row{
    background-image: linear-gradient(to right, #281273 , #190723);
    padding: 2rem 1rem;
    border-radius: 20px;
    color: white;
    font-family: 'poppins';
    display: flex;
    align-items: center;
  }
  .become-client-row ul li{
    list-style-type: none;
    margin-bottom: 10px;
  }
  .become-client-row ul li i{
    padding-right: 10px;
  }
  img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
#client-down-class img{
    animation: taadaa 2s infinite;
}
@keyframes taadaa {
    0% {
        opacity: 0;
      }
    
      25% {
        opacity: 0.3;
      }
      50%{
        opacity: 0.5;
      }
      75%{
        opacity: 0.7;
      }
      100%{
        opacity: 1;
      }
}
.novice-cont{
    color: white;
    font-family: 'Poppins';
    background-color: #FBC108;
    border-radius: 20px;
    padding: 2rem 3rem;
    margin-top: 8rem;
}
label{
    position: relative;
}

.footer-row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.footer-input-cl{
    width: 100% !important;
}
.insights{
    display: inline;
    text-align: end;
    color: white;
}
.insights span{
    color: #FBC108;
}
.horizontal-line-footer{
    width: 100%;
    height: 0.2vh;
    background-color: white;
    margin-bottom: 3rem;
}
.quick-links{
    margin-bottom: 3rem;
}
.footer-column-1 ul, .footer-column-2 ul, .footer-column-3 ul, .footer-column-4 ul{
    list-style-type: none;
    color: white;
}
.footer-column-1 ul li i, .footer-column-4 ul li i{
    margin-right: 8px;
}
.copyright-section{
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}
.footer-container{
    margin-top: 8rem;
}

/*3d client review slider*/
.d-review-slider {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
  }
  
  .carousel-3d-class {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    animation: 30s clientsss linear infinite;
  }
  .carousel-3d-class:hover{
    animation-play-state: paused;
  }
  @keyframes clientsss{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg); 
    }
  }
  .item {
    display: block;
    position: absolute;
    background: #000;
    width: 100%;
    height: 150%;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 1;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 0px 10px rgb(255 255 255 / 0.5);;
  }
  
  .a {
    transform: rotateY(0deg) translateZ(250px);
    
  }
  
  .b {
    transform: rotateY(60deg) translateZ(250px);
    
  }
  
  .c {
    transform: rotateY(120deg) translateZ(250px);
    
  }
  
  .d {
    transform: rotateY(180deg) translateZ(250px);
    
  }
  
  .e {
    transform: rotateY(240deg) translateZ(250px);
    
  }
   
  .f {
    transform: rotateY(300deg) translateZ(250px);
    
  }
 
  /* .carousel-3d-class::before{
    content: ' ';
   
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: url(Assets/client-back.png);
    z-index: 8;
} */
.circle-txt{
    position: absolute;
    width: 80%;
    left: 40rem;
    top: 26rem;
    opacity: 0.1;
    animation: 8s rotate infinite linear;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media (max-width: 1920px){
    body{
        background-color: black;
        overflow-x: hidden;
    }
    .main-shopify-di{
        display: flex !important;
        justify-content: space-around !important;
    }
}
@media (min-width: 1280px) and (max-width: 1440px){
    body{
        background-color: black;
        overflow-x: hidden;
    }
    .heading-class > .main-heading-txt{
        font-size: 3rem;
    }
    .services-container > .main-shopify-di{
        display: flex;
        justify-content: space-around;
    }
    .services-row::before{
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 300px;
        top: 40%;
    }
    .services-row::after{
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 720px;
        top: 40%;
    }
    .process-row::before{
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 300px;
        top: 40%;
    }
    .process-row::after{
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 720px;
        top: 40%;
    }
    .process-row-1::before{
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 270px;
        top: 40%;
    }
    .process-row-1::after{
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 750px;
        top: 40%;
    }
    .process-row-2::before{
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 230px;
        top: 40%;
    }
    .process-row-2::after{
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 790px;
        top: 40%;
    }
}
@media (min-width: 1240px) and (max-width: 1280px){
    body{
        background-color: black;
        overflow-x: hidden;
    }
    .services-row::before{
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 300px;
        top: 40%;
    }
    .services-row::after{
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 720px;
        top: 40%;
    }
    .process-row::before{
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 300px;
        top: 40%;
    }
    .process-row::after{
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 720px;
        top: 40%;
    }
    .process-row-1::before{
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 270px;
        top: 40%;
    }
    .process-row-1::after{
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 750px;
        top: 40%;
    }
    .process-row-2::before{
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 230px;
        top: 40%;
    }
    .process-row-2::after{
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 790px;
        top: 40%;
    }
}


.navbar {
    background-color: #333;
    color: #fff;
    position: relative;
    padding: 20px 0;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

/* Mobile menu styles */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: background-color 0.3s ease;
}

/* Media query for responsive design */
@media (max-width: 991px){
    body{
        background-color: black;
        overflow-x: hidden;
    }
    .line-11, .line-22{
        width: 16% !important;
    }
    .anime-lottie-inner{
        width: 700px !important;
    }
    .main-heading-txt{
        font-size: 2.2rem !important;
    }
    .heading-class{
        padding-top: 2rem !important;
        padding-left: 1rem !important;
    }
    .inner-txt-div h2{
        font-size: 24px !important;
    }
    .services-row::after{
        content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background: white;
    left: 500px;
    top: 40%;
    }
    .services-row::before{
        content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background: white;
    left: 100px;
    top: 40%;
    }
    .invisible{
        display: none;
    }
    #process-section-cl{
        margin-top: 60rem !important;
    }
    .process-row::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 100px;
        top: 40%;
}
.process-row::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background: white;
    left: 500px;
    top: 40%;
}
.process-row-1::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background: white;
    left: 80px;
    top: 20%;
}
.process-row-1::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background: white;
    left: 530px;
    top: 20%;
}
.process-row-2::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background: white;
    left: 50px;
    top: 40%;
}
    .process-row-2::after {
        content: "";
        position: absolute;
        width: 120px;
        height: 1px;
        background: white;
        left: 550px;
        top: 40%;
}
    .from-voice{
        font-size: 250% !important;
    }
    .become-client-inner-2{
        padding-left: 0rem !important;
    }
    .input-group{
        width: 120% !important;
    }
}
@media (max-width: 768px) {
    body{
        background-color: black;
        overflow-x: hidden;
    }
    .header-section{
        padding-top: 0rem;
    }
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0px;
        left: 0;
        background-image: linear-gradient(to top, #391141, #000000);
        width: 100%;
        text-align: center;
        z-index: 1;
        border-radius: 0px;
        border: none;
        align-items: center;
    }
    .nav-img{
        z-index: 2 !important;
    }
    .menu-toggle{
        z-index: 2 !important;
    }
    .menu li{
        width: 100px;
        margin: 30px 10px !important;
    }
    .menu li:hover{
        background-color: #FBC108 !important;
        color: #000000 !important;
    }
    .menu > .cross-icon{
        background-color: transparent;
        margin-left: 40rem !important;
    }

    .menu.active {
        display: flex;
        padding-top: 7rem;
    }

    .menu-toggle {
        display: flex;
    }

    .anime-lottie-inner{
        width: 600px !important; 
    }
    .inner-txt-div h2 {
        font-size: 18px !important;
    }
    .inner-txt-div p{
        font-size: 0.8rem !important;
    }
    .shopify-class{
        width: 100% !important;
    }
    .invisible{
        display: none;
    }
    .process-divv{
        padding-top: 0rem;
    }
}

@media (max-width: 568px){
    body{
        background-color: black;
        overflow-x: hidden;
    }
    .heading-class{
        width: 100%;
        text-align: center;
    }
    .social-media-icons{
        width: 100%;
    }
    .anime-lottie{
        width: 100%;
        padding-left: 0rem;
    }
    .inner-txt-div{
        width: 60% !important;
    }
    .inner-txt-div h2{
        font-size: 24px !important;
    }
    .shopify-class{
        width: 100% !important;
        text-align: center;
    }
    .main-slider-div{
        margin: 10rem 10rem 8rem -8rem;
    }
    .main-shopify-di{
        margin: 1rem !important;
    }
    #process-section-cl {
        margin-top: 40rem !important;
    }
    .process-row-1{
        margin-bottom: 0rem;
    }
    .services-row::after{
        
    width: 50px !important;
    left: 400px !important;

    }
    .services-row::before{
    
    width: 50px !important;
    left: 120px !important;
    }
    .serv-res{
        margin-bottom: 1rem;
        text-align: center;
    }
    .serv-btn{
        text-align: center; 
    }
    
    .process-row::after{
       
    width: 50px !important;
    left: 400px !important;
    }
    .process-row::before{
        
    width: 50px !important;
    left: 120px !important;
    }
    .process-row-1::before{
        
    width: 40px !important;
    left: 110px !important;
    }
    .process-row-1::after{
       
    width: 40px !important;
    left: 420px !important;
    }
    .become-client-row{
        margin: 2rem;
    }
    .become-client-inner-1, .become-client-inner-2{
        padding-left: 0rem !important;
        text-align: center;
    }
    .process-row-2::before{
        
    width: 50px !important;
    left: 70px !important;
    }
    .process-row-2::after{
        
    width: 50px !important; 
    left: 450px !important;
    }
    .carousel-3d-class{
        width: 70% !important;
        height: 70% !important;
    } 
    #client-down-class{
        padding-top: 6rem !important;
    }
    .booking-section{
        margin: 2rem;
    }
    .invoice-class{
        text-align: center;
    }
    .input-group{
    margin-right: 6rem;
    width: 100% !important;
    }
    .footer-input-cl {
        width: 80% !important;
    }
   .footer-logo-class{
    text-align: center;
    margin-bottom: 2rem;
   }
   .insights{
    text-align: center;
   }
   .footer-logo-class img{
    width: 24%;
   }
   .horizontal-line-footer{
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
   }
   .quick-links{
    font-size: 12px;
   } 
}
@media (max-width: 500px){
    body{
        background-color: black;
        /* overflow-x: hidden; */
    }
    .header-section{
        padding-top: 0rem;
    }
    .main-slider-div{
    margin: 10rem 10rem 8rem -8rem;
    }
    .services-container {
        color: white !important;
        padding-top: 2rem !important;
    }
    .services-row::before {
       
        width: 50px !important;
        left: 90px !important;
}
.services-row::after {
    
    width: 50px !important;
    left: 360px !important;
}
.txt-img-class-one {
    max-width: 32% !important;
}
.txt-img-class {
    max-width: 58% !important;
}
.txt-img-class-1 {
    max-width: 26% !important;
}
#del5 {
    left: 86vw !important;
}
.process-row::before {
   
    width: 50px !important;
    left: 90px !important;
}
.process-row::after {
    
    width: 50px !important;
    left: 360px !important;
}
.process-row-1::before {
    
    width: 40px !important;
    left: 80px !important;
}
.process-row-1::after {
   
    width: 40px !important;
    left: 380px !important;
}
.process-row-2::before {
    
    width: 50px !important;
    left: 40px !important;
}
.process-row-2::after {
    
    width: 50px !important;
    left: 410px !important;
}
#client-down-class img{
    width: 100% !important;
}
}
@media (max-width: 419px){
    body{
        background-color: black;
        /* overflow-x: hidden !important; */
        position: relative !important;
        margin: 5px;
    }
    .main-slider-div{
        margin: 10rem 10rem 8rem -8rem;
        }
    .diagonal-angle-cl {
        /* margin: 0rem 2rem 0rem 1rem; */
        margin: 1rem !important;
    }
        
    .inner-txt-div h2 {
        font-size: 18px !important;
}
.shopify-class{
    width: 100% !important;
    text-align: center !important;
}
.process-row-1{
    margin-bottom: 0rem !important;
}
#client-down-class{
    padding-top: 4rem !important;
}
 .main-shopify-di{
    margin: 1rem !important;
}
.services-row::before {
   
    width: 50px !important;
    left: 50px !important;
}
.services-row::after {
   
    width: 50px !important;
    left: 320px !important;
}
#del1 {
    left: -20vw !important;
}
.txt-img-class-one {
    max-width: 42% !important;
}
#del2 {
    left: 17vw;
}
.txt-img-class {
    max-width: 75% !important;
}
#del5 {
    left: 88vw !important;
}
.txt-img-class-1 {
    max-width: 34% !important;
}
.main-shopify-di{
    text-align: center !important;
    margin-left: 0rem !important;
}
#process-section-cl {
    margin-top: 40rem !important;
}
.process-row::before {
    
    width: 20px !important;
    left: 90px !important;
}
.process-row::after {
   
    width: 20px !important ;
    left: 308px !important;
}
.process-row-1::before {
    
    width: 10px !important;
    left: 70px !important;
}
.process-row-1::after {
    
    width: 10px !important;
    left: 330px !important;
}
.inner-process-row-2{
    padding: 10px 20px !important;
}
.dashboard-vid{
    margin-top: 0rem !important;
    padding: 0px 0px !important;
}
.vectors-section {
    padding-top: 6rem !important;
}
.sound-bites{
    padding-top: 4rem !important;
}
.client-down-class img{
    width: 100% !important;
}
.process-row-2::before {
   
    width: 20px !important;
    left: 40px !important;
}
.process-row-2::after {
   
    width: 20px !important;
    left: 360px !important;
}
.input-group {
    margin-left: 0rem;
    width: 100% !important;
}
.footer-input-cl{
    width: 100% !important;
}
.copyright-section p{
    font-size: 0.7rem !important;
}
.carousel-3d-class {
    width: 60% !important;
    height: 60% !important;
}
.paragraph-txt{
    padding: 10px 20px !important;
}
}

@media (max-width: 376px){

    body{
        background-color: black;
        overflow-x: hidden;
        position: relative !important;
    }

  .inner-txt-div{
    width: 100% !important;
    padding-right: 6rem !important;
    text-align: center;
  }
  .services-row::before {
    
    width: 50px !important;
    left: 30px !important;
}
.services-row::after {
    
    width: 50px !important;
    left: 290px !important;
}
.main-shopify-di{
    display: flex;
    justify-content: center;
    text-align: center;
}
#del1 {
    left: -20vw !important;
}
.txt-img-class-one {
    max-width: 40% !important;
}
#del2{
    position: absolute;
    left: 15vw;
}
.txt-img-class {
    max-width: 73% !important;
}
#del5{
    position: absolute;
    left: 83vw;
}
.txt-img-class-1{
    max-width: 30% !important;
}
#process-section-cl{
    margin-top: 0rem !important;
}
.process-divv{
    padding-top: 30rem !important;
}
.process-row::before {
    
    width: 20px !important;
    left: 60px !important;
}
.process-row::after {

    width: 20px !important; 
    left: 284px !important;
}
.process-row-1::before {
    
    width: 50px !important;   
    left: 90px !important;   
}
.process-row-1::after {
    
    width: 60px !important;
    left: 220px !important;    
}
.process-row-1{
    margin-bottom: 0rem;
}
.become-client-row{
    margin: 0rem;
}
.process-row-2::before {
    
    width: 40px !important;
    left: 0px !important;
}
.process-row-2::after {
    width: 40px !important;
    left: 330px !important;
}
#client-down-class img{
    width: 100% !important;
}
#client-down-class{
    padding-top: 7rem;
}
.booking-section {
     margin: 0rem;
}
.footer-input-cl{
    width: 100% !important;
}
.input-group{
    margin-left: 0rem !important;
}
}